{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}changement de mot de passe-shop!{% endblock %}

{% block content %}
<h1>changer mon mot de passe</h1>
<a href="{{path('compte')}}">retour au compte</a>
{% if notif and status=="ok" %}
<div class="alert alert-info" >{{notif}}</div>
{% elseif notif and status=='nok' %}
<div class="alert alert-danger"> {{notif}} </div>
{% endif %}
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endblock %}